[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.name{
  margin-left: 20px;
}


.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
.dragging {
  //opacity: 0.4 !important;
}


.draggedOver { 
  opacity: 0.4 !important;
  cursor: -webkit-grabbing;
}

.imgs {
  cursor: grab;
  float:left;
  margin: 5px;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-height: 150px;
  min-height: 120px;
}

.sectionImg{

}

.imgQueueImg{
  max-width: 95%;
  margin: 2.5%
}

.sections {
  min-height: 200px;
  border: solid black 1px;
  overflow:hidden;
  box-shadow: 3px 3px 3px #888888;
  margin-bottom: 7px;
}

.sectionName{
  float: left;
  margin: 5px;
  padding-left: 10px;
  border: none;
}

.sectionNameContainer {
  width: 100%;
  height: 40px;
}

.closeX {
  float:right;
  cursor: pointer;
  margin: 3px;
}

.hand {
  cursor: pointer;
}

.row{
  margin: 0px;
  padding: 0px;
}
.App-header{
}

.btn{
  width: 100%;
  height: 60px;
  border: solid black 1px;
  border-radius: 0px;
  box-shadow: 3px 3px 3px #888888;
  text-align: center;
  vertical-align: middle;
  line-height: 40px; 
  margin-left: 15px;

}

.imgQueue {
  height: 100%;
  border: solid black 1px;
}

.inputBtn {
}