[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.name{
  margin-left: 20px;
}
.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
.dragging {
  //opacity: 0.4 !important;
}


.draggedOver { 
  opacity: 0.4 !important;
  cursor: -webkit-grabbing;
}

.imgs {
  cursor: grab;
  height: 150px;
  width: 150px;
  float:left;
  margin: 5px;
}


.sections {
  height: 200px;
  border: solid black 1px;
}

.sectionNames {
  width: 100%;
  height: 30px;
  border: solid black 1px;
  margin: 1px;
  
}
.hand {
  cursor: pointer;
}

.row{
  margin: 0px;
  padding: 0px;
}
.App-header{
}

.btn{
  width: 100%;
  height: 60px;
  border: solid black 1px;
  box-shadow: 2px 2px 2px #888888;
  border-radius: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px; 
  margin-left: 15px;

}

.imgQueue {
  height: 100%;
  border: solid black 1px;
}

.inputBtn {

}